.container {
    padding: 40px 120px;
    background-color: #000;
}

.wrapper {
    padding: 40px;
    background-color: #0d0d0d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper p {
    color: white;
    font-size: 32px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.2px;
    width: 80%;
}

.wrapper button {
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: white;
    color: black;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.2px;
}

@media screen and (max-width: 500px) {
    .container {
        padding: 40px 10px;
        overflow: hidden;
    }

    .wrapper {
        flex-direction: column;
        gap: 20px;
        padding: 20px 10px;
    }

    .wrapper p {
        width: 100%;
        font-size: 22px;
    }
}