.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #090707;
    padding: 28px 120px;
}

.left,
.right {
    display: flex;
    gap: 16px;
    align-items: center;
}

.left p,
.right a {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 1%;
    color: #e1e1e1;
    opacity: 0.6;
}

.right a {
    font-weight: 400;
}

@media screen and (max-width: 500px) {
    .container {
        padding: 20px 10px;
    }

    .left p,
    .right a {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    .container {
        flex-direction: column;
        gap: 20px;
    }

    .left p,
    .right a {
        font-size: 14px;
    }
}